*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif; 
}

nav{
    padding: 200px;
    img{
        width: 125px;
        height: 125px;
        margin-left: 30px;
        
    }
}